.section {
  padding: var(--space-7) var(--space-5);
}
.title {
  font-weight: 400;
  font-size: var(--font-size-8);
  line-height: 3.125rem;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 75rem;
  margin: 4.5rem auto 0 auto;
  text-align: center;
}

.itemContainer {
  background-color: #f4f4f4;
  flex: 1 1 18rem;
  max-width: 22rem;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

@media (max-width: 48rem) {
  .grid {
    gap: 1.5rem;
    margin-top: 2rem;
  }

  .itemContainer {
    flex: 0 0 55%;
    max-width: 55%;
    aspect-ratio: 4 / 3;
  }
}

.priceText {
  font-weight: 700;
  font-style: Bold;
  font-size: 3.125rem;
  line-height: 2.5rem;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
}

.descText {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.medalStyle {
  max-width: 6.25rem;
}

.joinButton {
  margin-top: 1.5rem;
  width: 18.75rem;
  height: 3.375rem;
}
