.featuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem 0rem 1.5rem;
  background-color: #f4f4f4;
}

.title {
  font-weight: 400;
  font-size: var(--font-size-8);
  line-height: 3.125rem;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.featuresContent {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

.boxContainer {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 4.75rem;
  text-align: right;
  margin-bottom: 3.75rem;
}

.boxContainerRight {
  text-align: left;
}

.mobilePhoneImageStyle {
  margin: 2rem 1.25rem 0rem 1.25rem;
  max-width: 35.25rem;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .boxContainer {
    gap: 1.5rem;
    margin-bottom: 1.75rem;
  }
  .featuresContainer {
    font-size: 0.5rem;
    padding: 0rem 1rem;
  }
  .mobilePhoneImageStyle {
    margin: 0.5rem 0.75rem 0rem 0.75rem;
  }

  .featureIcon {
    width: 50%;
  }
  .mobilePhoneImageStyle {
    width: 55%;
  }
}
