.section {
  padding: var(--space-8) auto;
  text-align: center;
  background-image: url("../../assets/images/hero/image-hero.png");
  width: 100vw;
  margin-left: calc(50% - 50vw);
  aspect-ratio: 19 / 7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headline1 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.375rem;

  line-height: 4.375rem;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, #fcd678 0%, #fcd678 0.01%, #bc8c2f 100%);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.headline2 {
  margin: 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.375rem;

  line-height: 4.375rem;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: var(--text-color-1);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.formContainer {
  width: max-content;

  background: var(--bg);
  opacity: 1;
  gap: 2.5rem;
  border-radius: 0.625rem;
  padding: 2.5rem;
  margin: 1.875rem auto 2.5rem auto;

  @media (max-width: 768px) {
    width: 75vw;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  width: 100%;
  max-width: calc(80vw - var(--space-5));
  margin: 0 auto;
}

.fieldsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-5);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.codePhone {
  display: flex;
  gap: var(--space-5);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.submitButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 19rem;
  height: 3.3.375rem;
  padding: 1rem;
}
